version: '3.5'

services:
  websocket_producer:
      image: "namson0482/kafka-websocket-producer:1.0"
      container_name: "kafka-websocket-producer-container"
      ports:
        - "8080:8080" #<Computer_port>:<Container_port>
      environment:
        SPRING_PROFILES_ACTIVE: "docker-env"
        DATA_FILE: "/temp/"
